<div class="container">
  <p>
  <span id="banner-typed-text"></span>
  </p>

  <div class="cards">
    <% @offers.each do |offer| %>
      <div class="card-category" >
        <div class="card-distance">
          <%= offer.advertiser_name %>
            <% if offer.premium %>
              <span class="offer-premium-badge">
              <%= Offer.human_attribute_name :premium %>!
              </span>
          <% end %>
      </div>

        <div class="card-info">
          <div class="card-info-box">
            <i class="fas fa-calendar-day"></i> <%= offer.starts_at.strftime("%d-%m-%Y") %>
            <i class="fas fa-calendar-day"></i> <%= offer.ends_at %>
          </div>

          <div class="card-text">
            <%= link_to offer.url %>
          </div>
          </div>
        </div>

    <% end %>
  </div>
</div>


   


